/**/.idea/
/**/.DS_Store

docker/influxdb/data/*
data/**/*.csv
data/**/*.json
!data/processed/.gitkeep
!data/failed/.gitkeep
src/logs/*
src/vendor/*
src/tools/**/vendor/*
!/**/src/**/.gitkeep
.php-cs-fixer.cache
